.bg-img-books {
    position: relative;
    background-image: url("img/lib-img.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.hello {
    background-image: url("img/lib-img.jpg");
}

.sort {
    width: 80%;
    margin: auto;
    padding: 10px;
    height: 50px;
}
.sort span {
    padding: 10px;   
}